.home-page{
    /* background-image: url(../../Images/top-banner.png); */
    background-repeat: no-repeat;
    height:300px;
    width: 100%;
}
.home-page-header{
   
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.left-portion{
    margin-left: 60px;
    margin-top: 20px; 
    padding: 20px;
    display:grid;
    grid-template-rows: 2fr 1fr;
    justify-content:center;
    align-items:center;
}
.left-text-small{
    display: none;
}
/* min-width: 500px means greater than or equal 500px
max-width: 700px means less than or equal to 700px */
@media screen and (max-width: 600px){
    .home-page-header{
        display: flex;
        flex-direction: column-reverse;
    }
    .left-text-big{
        display: none;
    }
    .left-text-small{
        display: block;
    }
    .big-below-txt{
        color: black;
    }
}
    
