.li:hover{
    background: #ccbcf1;
    color:#7050ef;
    border-radius:10px;
}
.li:focus{
    background-color: red;
}
.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 3;
    background : rgb(255, 255, 255);
  }