.li:hover{
    background: #ccbcf1;
    color:#7050ef;
    border-radius:10px;
}
.li:focus{
    background-color: red;
}
.sticky-nav {
    position: sticky;
    top: 0;
    background: #3a5fb6;
    z-index: 3;
  }